{% extends "public_template.j2" %}

{% block title %}Update University{%endblock%}

{% block main %}

<div class="container">

    <div class="starter-template">
        <h1>Update University</h1>
    </div>

    <form action="" method="post">
        {% for field in form_fields.items() %}
            <div class="form-group row">
                <label for="{{field[0]}}" class="col-sm-2 col-form-label">{{field[0]}}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="{{field[0]}}" id="{{field[0]}}" placeholder={{field[1]}}>
                </div>
            </div>
        {%endfor%}
        <button type="submit" name="university-update" value="university-update" class="btn btn-primary mb-2">Submit Changes</button>
    </form>
</div>


{% endblock %}