{% extends "public_template.j2" %}

{% block title %}Faculty{%endblock%}

{% block main %}

<div class="container">

    <div class="starter-template">
        <h1>Faculty Directory</h1>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                {% for key in faculty_info[0].keys()%}
                    <th> {{key}} </th>
                {%endfor%}
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for faculty in faculty_info%}
            <tr>
                {%for key in faculty.keys()%}
                    <td>{{faculty[key]}}</td>
                {%endfor%}
                <td><a href="delete_faculty/{{faculty['id']}}" class="btn btn-default">Delete</a></td>
                <td><a href="update_faculty/{{faculty['id']}}" class="btn btn-default">Update</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<div class="container">
        <div class="starter-template">
            <h1>Hire a new faculty member</h1>
        </div>

        <form action="" method="post">
            {% for field in form_fields.items() %}
                <div class="form-group row">
                    <label for="{{field[0]}}" class="col-sm-2 col-form-label">{{field[1]}}</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="{{field[0]}}" id="{{field[0]}}">
                    </div>
                </div>
            {% endfor %}
            <button type="submit" name="faculty-submit" value="faculty-submit" class="btn btn-primary mb-2">Submit Faculty</button>
        </form>
    </div>
</div>

{% endblock %}