{% extends "public_template.j2" %}

{% block title %}Students{%endblock%}

{% block main %}

<div class="container">

    <div class="starter-template">
        <h1>Student Roster</h1>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                {% for key in student_info[0].keys()%}
                    <th> {{key}} </th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {% for student in student_info%}
            <tr>
                {%for key in student.keys()%}
                    <td>{{student[key]}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<div class="container">
        <div class="starter-template">
            <h1>Enroll a new student</h1>
        </div>

        <form action="" method="post">
            {% for field in form_fields.items() %}
                <div class="form-group row">
                    <label for="{{field[0]}}" class="col-sm-2 col-form-label">{{field[1]}}</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="{{field[0]}}" id="{{field[0]}}">
                    </div>
                </div>
            {% endfor %}
            <button type="submit" name="student-submit" value="student-submit" class="btn btn-primary mb-2">Submit Student</button>
        </form>
    </div>
</div>

{% endblock %}